In [63]:
import numpy as np
import pandas as pd

from pyecharts.charts import Bar,Pie,Timeline

from pandas import DataFrame,Series
from pyecharts.globals import ThemeType

from pyecharts import options as opts
from pyecharts.faker import Faker

In [64]:
df = pd.read_csv("../bilibili/bilibili06-23.csv")

In [65]:
def g_w(x):
    return x/10000

In [66]:
def decimals_g_w(df_x):
    df_x["coin"] = g_w(df_x["coin"]).round(decimals=4)
    df_x["danmaku"] = g_w(df_x["danmaku"]).round(decimals=4)
    df_x["favorite"] = g_w(df_x["favorite"]).round(decimals=4)
    df_x["like"] = g_w(df_x["like"]).round(decimals=4)
    df_x["reply"] = g_w(df_x["reply"]).round(decimals=4)
    df_x["share"] = g_w(df_x["share"]).round(decimals=4)
    df_x["view"] = g_w(df_x["view"]).round(decimals=4)
    return df_x

In [67]:
df = decimals_g_w(df)

##### 函数方法 df_ rank_tab 分析单日分区数据

In [70]:
def _rank_tab(df_x):
    rank_tab = df_x.groupby(['rank_tab']).agg({
        "view":"sum",
        "coin":"sum",
        "danmaku":"sum",
        "favorite":"sum",
        "like":"sum",
        "reply":"sum",
        "share":"sum"
    })
    return rank_tab

In [71]:
df_rank_tab = _rank_tab(df).sort_values(["view"],ascending=False)

In [72]:
x = list(df_rank_tab.index)

In [73]:
def list_a(n):
    a = []
    for _list in  n:
        a.append('%.4f'%(_list))
    _list=a
    return _list

In [74]:
y1 = list_a(df_rank_tab['view'])
y2 = list_a(df_rank_tab['coin'])
y3 = list_a(df_rank_tab['danmaku'])
y4 = list_a(df_rank_tab['favorite'])
y5 = list_a(df_rank_tab['like'])
y6 = list_a(df_rank_tab['reply'])
y7 = list_a(df_rank_tab['share'])

In [76]:
df_rank_tab.describe()

,view,coin,danmaku,favorite,like,reply,share
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000
mean,9224.213869,269.385494,42.788806,199.537625,577.969862,19.081731,61.707575
std,8621.081045,372.422161,40.512355,268.560960,500.155965,12.735381,94.961806
min,3068.507800,15.213500,6.087800,11.228700,109.270700,5.305100,5.748300
25%,4620.697625,74.071125,14.381875,55.248375,292.294275,9.650150,16.118175
50%,5825.119750,174.871050,30.689350,122.928400,454.407450,16.594600,24.134250
75%,10877.573125,262.244300,51.693300,248.313050,608.767150,23.858275,55.745250
max,39227.890300,1562.971700,165.877200,1137.494400,2195.300000,47.391300,381.422500

##### 单日视频各项数据统计

In [77]:
bar = (
    Bar(init_opts = opts.InitOpts(
            width='1500px',
            height='700px'
        ))
    
    .add_xaxis(x)
    .add_yaxis('播放量', y1)
    .add_yaxis('投币量', y2)
    .add_yaxis('弹幕量', y3)
    .add_yaxis('收藏量', y4)
    .add_yaxis('点赞量', y5)
    .add_yaxis('回复量', y6)
    .add_yaxis('转发量', y7)
    .set_series_opts(label_opts = opts.LabelOpts(position="right"))
    .set_global_opts(
        toolbox_opts=opts.ToolboxOpts(),
        title_opts = opts.TitleOpts(title = "06-23各分区各项数据统计"),
        # datazoom_opts = opts.DataZoomOpts(orient = "vertical"),
        datazoom_opts = [opts.DataZoomOpts(), opts.DataZoomOpts(orient = "vertical"), opts.DataZoomOpts(type_="inside")],
        yaxis_opts = opts.AxisOpts(axislabel_opts = opts.LabelOpts(formatter = "{value} /万"))
        # xaxis_opts = opts.AxisOpts(axislabel_opts = opts.LabelOpts(formatter = "{value} /万"))
    )
    # .reversal_axis()
    #.render_notebook()
    .render("06-23各分区各项数据统计.html")
)